* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    background: #F5F5F5;
  }
  
  a {
    color: #707070;
    transition: .3s color;
    text-decoration: none;
  }
  
  a:hover {
    color: #ee5044;
  }
  
  p {
    margin: 0;
  }
  ul,li{
    list-style: none;
  }

  .btn {
    border: none;
    padding: 0 15px;
    font-size: 12px;
  }
  
  .btn-default {
    background: #ee5044;
    color: #fff;
  }